/* banner section */
.banner{
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    margin: 50px auto;
    background-image: url(../resources/Banner\ Image.png);
    position:flex;
}
.banner-title{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 350px 0px 350px;
}
.banner-discription{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; 
    width: 632px;
    padding-top: 233;
    padding: 0 344px;

}
/* main section */
.offer{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin: 0 468px;
}
p{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}
h1{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top:5px;
}
.colors{
    width: 802.9px;
    height: 500px;
    margin: 48px auto;
}
.party{
    width: 1320px;
    height: 600px;
    background-image: url('../resources/Vectorrr.png');
    margin:120px auto;
    display: flex;
}
.party-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    width: 642px;
    padding: 126px;
    padding-bottom: 0;
    text-align: left;
}
.party-discription{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    width: 697px;
    text-align: left;
    padding: 0px 126px;
    padding-top: 24px;
}
.button{
    color: #FFF;
    text-align:left;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 48px 150px;
}
.part-2{
    padding: 68px 0px;
    padding-right: 138px;
}
