.banner{
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    margin: 50px auto;
    background-image: url(../resources/Banner\ Image.png);
    position:flex;
}
.banner-title{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 350px 0px 350px;
}
.banner-discription{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; 
    width: 632px;
    padding-top: 233;
    padding: 0 344px;

}
