/* banner section */
.banner{
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    margin: 50px auto;
    background-image: url(../resources/Banner\ Image.png);
    position:flex;
}
.banner-title{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 350px 0px 350px;
}
.banner-discription{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; 
    width: 632px;
    padding-top: 233;
    padding: 0 344px;

}
/* main section */
.offer{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin: 0 468px;
}
p{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}
h1{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top:5px;
}
.colors{
    width: 802.9px;
    height: 500px;
    margin: 48px auto;
}
.party{
    width: 1320px;
    height: 600px;
    background-image: url('../resources/Vectorrr.png');
    margin:120px auto;
    display: flex;
}
.party-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    width: 642px;
    padding: 126px;
    padding-bottom: 0;
    text-align: left;
}
.party-discription{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    width: 697px;
    text-align: left;
    padding: 0px 126px;
    padding-top: 24px;
}
.button{
    color: #FFF;
    text-align:left;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 48px 150px;
}
.part-2{
    padding: 68px 0px;
    padding-right: 138px;
}
.data{
    background-image:linear-gradient(pink,white);
    width: 1320px;
    height: 482px;
    margin: 120px auto;
    
    
}
.data-1{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
}
.data-2{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;

}
.box{
    padding-top: 100px;
    padding-left: 0px auto;
}
button{
    padding: 16px 32px;
    margin-left: 576px;
    margin-top: 48px;
    border-radius: 8px;
    background: #F00;

}
.btn{
    color:#FFFFFF;
}
.even-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    padding-top: 65px;
}
.even-heading{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    text-align: left;
    padding-top: 0px;
    
    
}
.even-discription{
    color: rgba(39, 28, 61, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
    padding-top: 20px;
}
.even{
  gap: 25px;
  /* background-color: lightgreen; */
  margin: 120px 105px;
}

.new{
    display: flex;
    /* background-color: aquamarine; */
}
.redious{
    border: 15px solid red;
    /* background-color: bisque; */
    width: 400px;
    height: 400px;
    border-radius:50%;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 10;
    margin-top: 80px;
    margin-right: 80px;
    
}
.year{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.year-24{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
}
.new-year{
    padding-top: 40px;
}
footer{
    width: 1600px;
    height: 609px;
    background: #070211;
}
.foot-dis{
    color:#FFFFFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; 
    width: 375px;
    height: 80px;
    padding-top: 120px;
    padding-left: 140px;
}
.foot-kit{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px; 
padding-left: 600px;
padding-top: 120px;
}
.first-foot{
    display: flex;
}
hr{
    width: 1320px;
    height: 0.5px;
    background: rgba(255, 255, 255, 0.15);
}
.social{
    height: 80px;
    width:1320px ;
    padding-left: 650px;
}
.badmas{
    padding-right: 80px;
}
